/* Палитра: 
цвет 1 логотипа   #2196F3;
цвет 2 логотипа #000000;
цвет основного текста  #212121;
цвет вторичного текста #757575;
белый  #FFFFFF;
цвет подсвечивания  #2196F3;
цвет футера и банера  #2F303A;
вторичный цвет фона F5F4FA*/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #fff;
  --icon-color: #afb1b8;
}
.list {
  list-style: none;
}
.body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto auto;
  outline: 2px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Section title */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  margin-bottom: 50px;
}

/* Button */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-size: 16px;
  display: inline-block;
}
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  border: 1px solid var(--accent-color);
  margin: 0 auto;
}
.button.secondary {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border: 1px solid #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
/* Header */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo1 {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
  text-decoration: none;
}
.header-item{
  position: relative;
}
.header-item .current::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: -32px;
}

/* contats */
.contact .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}


.header {
  border-bottom: 1px solid #ececec;
  width: 100%;
}

.header-container {
  position: relative;
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container .header-logo {
  align-items: center;
  margin-right: 93px;
}
.header-container nav {
  position: relative;
  display: flex;
  /* margin: 0 auto; */
  align-items: center;
  justify-content: flex-start;
}
.header-container nav ul {
  position: relative;
  display: flex;
}
.header-container nav ul li {
  align-self: start;
  margin-right: 50px;
}
.header-container .contact-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}
.header-container .contact-list ul {
  position: relative;
  display: flex;
}
.header-container .contact-list ul li {
  margin-left: 25px;
  margin-right: 25px;
}

.contact-list .link {
  display: flex;
}
.icon-mail {
  margin-right: 10px;
  fill: var(--icon-color);
}

.icon-phone {
  margin-right: 10px;
  fill: var(--icon-color);
}

.mail-contact{
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
 
.mail-contact:hover, .mail-contact:focus{
 color: var(--accent-color);
}
.mail-contact .icon-mail{
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.mail-contact:hover .icon-mail, .mail-contact:focus .icon-mail{
  fill: var(--accent-color);
 }
 
 .phone-contact{
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

 .phone-contact:hover, .phone-contact:focus{
  color: var(--accent-color);
 }

 .mail-contact .icon-phone{
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

 .phone-contact:hover .icon-phone, .phone-contact:focus .icon-phone{
   fill: var(--accent-color);
  }
  
/* Банер */
/* Section hero */
.hero {
  /* background: #2f303a; */
  text-align: center;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
.hero-container {
  padding: 200px 0px;
  align-items: center;
}

.overlay {
  max-width: 1600px;
  height: 600;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/team.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Наши приимущества*/
.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
}
.section-item-01 {
  padding: 94px 0px;
  text-align: center;
  margin-right: -30px;
}
.section-item-01 .feature-list {
  position: relative;
  display: flex;

}
.section-item-01 .list-item {
  margin-right: 30px;
  text-align: start;
  width: 270px;
  
}
.section-item-01 .list-item h3 {
  margin-bottom: 10px;
}

.feature-icons {
  display: flex;
  padding: 0px;
  margin: 0px;
  margin-bottom: 30px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

/* .section-item-01 .list-item::before{
  display: block;
  content: "";
  height: 120px;
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F5F4FA;
  border-radius: 4px;
} */
/* .icon-antenna::before{
  display: inline-block;
  background-image: url("../images/antenna.svg");
}
.icon-clock::before{
  background-image: url("../images/clock.svg");
}
.icon-diagram::before{
  background-image: url("../images/diagram.svg");
}
.icon-astronaut::before{
  background-image: url("../images/astronaut.svg");
} */

/* Чем мы занимаемся */
.section-item-02 {
  padding-bottom: 94px;
  
}
.section-item-02 .speciality-list {
  position: relative;
  display: flex;
  margin-right: -30px;
  flex-wrap: wrap;
}
.section-item-02 .speciality-item {
  margin-right: 30px;
  flex-basis: calc(100% / 3- 30px);
  position: relative;
}

.speciality-img-wrap{
  position: relative;
  overflow: hidden;
}
.speciality-text{
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

/* Наша команда */

.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.section-item-03 {
  padding: 94px 0px;
  margin-left: 0;
  margin-right: 0;
  background: #f5f4fa;
}

.section-item-03 .team-list {
  position: relative;
  display: flex;
}
.section-item-03 ul .team-member {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-white-color);
}

.section-item-03 .name-position {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-item-03 .team-list .team-member h3 {
  margin-bottom: 10px;
}
.section-item-03 .text {
  margin-bottom: 16px;
}

.section-item-03 .social-icons {
  display: flex;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  align-items: center;
}

.section-item-03 .social-link {
  display: flex;
  padding: 0px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-icon {
  fill: var(--icon-color);
}
.social-link{
  transition-property: background-color, color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.section-item-03 .social-link:hover,
.section-item-03 .social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  fill: var(--accent-color);
}
.social-link svg{
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.section-item-03 .social-link:hover svg,
.section-item-03 .social-link:focus svg {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/* Портфолио */

.project-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-list .link {
  text-decoration: none;
}
.project-list .text {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.section-item-04 {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-item-04 ul.button-list {
  /* position: relative; */
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.section-item-04 .button-list li {
  /* position: relative; */
  margin: 4px;
}

.project-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}
  
.section-item-04 .project-item {
  position: relative;
  margin-right: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);

}
.section-item-04 .project-item img {
  margin-bottom: 0;
  display: block;
}
.section-item-04 .card-description {
  margin-top: 0;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.section-item-04 .project-item h3 {
  margin-bottom: 4px;
}


.project-img-wrap{
  position: relative;
  overflow: hidden;
}
.project-text{
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 24px 63px;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition-property:  transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item:hover .project-text{
  transform: rotateY(0);
}

.button-list li, .project-list li{transition-property:   box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.button-list li:hover,
.button-list li:focus {
  box-shadow: 0px 4px 4px 0px #00000040;
}
.project-list li:hover,
.project-list li:focus {
  box-shadow: 0px 4px 4px 0px #00000040;
}

/* Clients */

.section-item-05 {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-item-05 ul {
  position: relative;
  display: flex;
  margin-right: -30px;
}

.section-item-05 .client-logo {
  display: flex;
  margin-right: 30px;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.client-icon {
  fill: #afb1b8;
}

.client-logo, .client-logo svg {
  transition-property:  border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.client-logo:hover,
.client-logo:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.client-logo:hover svg,
.client-logo:focus svg {
  fill: var(--accent-color);
}
/* Footer contats */
.footer {
  background: #2f303a;
  padding: 60px 0px;
}
.footer .logo {
  margin-bottom: 20px;
}
.footer .footer-contact {
  position: relative;
  display: block;
  margin-right: 70px;
}
.footer .footer-contact li {
  margin-bottom: 9px;
}
.logo-footer {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-contact .link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}
.footer-general{
  display: flex;
  align-items: baseline;
}
.social-media p {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
margin-bottom: 20px;
color: var(--primary-white-color);
}

.social-media .social-icons {
  display: flex;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  align-items: center;
}

.social-media .social-link {
  display: flex;
  padding: 0px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media .social-icon {
  display: flex;
  fill: var(--primary-white-color);
  color: rgba(255, 255, 255, 0.1);
}
.social-link .social-link svg{
  transition-property:  background-color,  color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.social-media .social-link:hover,
.social-media .social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  fill: var(--accent-color);
  border-radius: 50%;
 
}
.social-media .social-link:hover svg,
.social-media .social-link:focus svg {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

.footer-contact .link.adress {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact .link:hover,
.footer-contact .link:focus,
.footer-contact .link.adress:hover,
.footer-contact .link.adress:focus {
  color: var(--accent-color);
}

.backdrop{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);;
  position: fixed;
  top: 0;
}

.backdrop.is-hidden{
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  /* transform: translate(10%, 10%);
  transform: opacity(30%, 30%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}


.modal{
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  color: #000;
  width: 30px;
  height: 30px;
}
.modal-close .icon-vector{
  color: #000;
  position: absolute;
  top: 10px;
  right: 10px;
  }


.modal-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}