/* Палитра: 
цвет 1 логотипа   #2196F3;
цвет 2 логотипа #000000;
цвет основного текста  #212121;
цвет вторичного текста #757575;
белый  #FFFFFF;
цвет подсвечивания  #2196F3;
цвет футера и банера  #2F303A;
вторичный цвет фона F5F4FA*/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #fff;
}
.list {
  list-style: none;
}
.body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto auto;
  outline: 2px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Section title */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  margin-bottom: 50px;
}


/* Button */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-size: 16px;
  display: inline-block;
}
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  border: 1px solid var(--accent-color);
  margin: 0 auto;
}
.button.secondary {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border: 1px solid #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 103px;
  border: 1px solid transparent;
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
/* Header */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo1 {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
  text-decoration: none;
}
/* contats */
.contact .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

.header{border-bottom: 1px solid #ececec;
  width: 100%;}

.header-container {
  position: relative;
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;

}

.header-container .header-logo {
  align-items: center;
  margin-right: 93px;

}
.header-container nav {
  position: relative;
  display: flex;
  /* margin: 0 auto; */
  align-items: center;
  justify-content: flex-start;
}
.header-container nav ul {
  position: relative;
  display: flex;
}
.header-container nav ul li {
  align-self: start;
  margin-right: 50px;
}
.header-container .contact-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}
.header-container .contact-list ul {
  position: relative;
  display: flex;
}
.header-container .contact-list ul li {
  margin-left: 25px;
  margin-right: 25px;
}
/* Банер */
/* Section hero */
.hero {
  /* background: #2f303a; */
  text-align: center;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
.hero-container {
  padding: 200px 0px;
  align-items: center;
}

.overlay{
  max-width: 1600px;
  height: 600;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;;
  background-image: 
  linear-gradient(to right, 
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)),  
  url("../images/team.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Наши приимущества*/
.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
}
.section-item-01 {
  padding: 94px 0px;
  text-align: center;
}
.section-item-01 ul {
  position: relative;
  display: flex;
}
.section-item-01 ul li {
  margin-left: 15px;
  margin-right: 15px;
  text-align: start;
}
.section-item-01 ul li h3 {
  margin-bottom: 10px;
}
.feature-icons{
  display: flex-box;
  padding: 0px;
  margin: 0px;
  margin-bottom: 30px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
}
.icon-antenna{
  display: flex-box;
  padding: 0px;
  margin: 0px;
  margin-bottom: 30px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;

}

/* .section-item-01 .list-item::before{
  display: block;
  content: "";
  height: 120px;
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F5F4FA;
  border-radius: 4px;
} */
/* .icon-antenna::before{
  display: inline-block;
  background-image: url("../images/antenna.svg");
}
.icon-clock::before{
  background-image: url("../images/clock.svg");
}
.icon-diagram::before{
  background-image: url("../images/diagram.svg");
}
.icon-astronaut::before{
  background-image: url("../images/astronaut.svg");
} */

/* Чем мы занимаемся */
.section-item-02 {
  padding-bottom: 94px;
}
.section-item-02 ul {
  position: relative;
  display: flex;
}
.section-item-02 ul li {
  margin-left: 15px;
  margin-right: 15px;
}
/* Наша команда */


.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.section-item-03 {
  padding: 94px 0px;
  margin-left: 0;
  margin-right: 0;
  background: #F5F4FA;
}

.section-item-03 ul {
  position: relative;
  display: flex;
  
}
.section-item-03 ul li {
  margin-right: 30px; 
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-white-color);
}

.section-item-03 .name-position
{padding-top: 30px;
padding-bottom: 30px;}

.section-item-03 ul li h3 {
  margin-bottom: 10px;
}

.social-icons{
  display: flex;
  padding: 0px;
  margin: 0px;
 width: 270px;
  height: 44px;
}
.social-icon{
  width: 20px;
  height: 20px;
}

/* Портфолио */

.project-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-list .link {
  text-decoration: none;
}
.project-list .text {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.section-item-04 {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-item-04 ul.button-list {
  position: relative;
  display: flex;
  justify-content: center;
 
  margin-bottom: 50px;

}
.section-item-04 ul.button-list li {
  position: relative;
  margin: 4px;
}
.section-item-04 ul.project-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}
.section-item-04 .project-list li {
  margin-right: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.section-item-04 .project-list li img {
  margin-bottom: 0;
  display: block;
}
.section-item-04 .project-list li .card-description {
  margin-top: 0;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.section-item-04 .project-list li h3 {
  margin-bottom: 4px;
}



/* Footer contats */
.footer {
  background: #2f303a;
  padding: 60px 0px;
}
.footer .logo {
  margin-bottom: 20px;
}
.footer ul {
  position: relative;
  display: block;
}
.footer ul li {
  margin-bottom: 9px;
}
.logo-footer {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-contact .link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}

.footer-contact .link.adress {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.contact .link:hover,
.contact .link:focus,
.footer-contact .link.adress:hover,
.footer-contact .link.adress:focus {
  color: var(--accent-color);
}
