.clients {
  padding: 60px 0px;
 text-align: center;
 
@media screen and (min-width: 768px) { 

}
@media screen and (min-width: 1200px) { 

  padding: 94px 0px;
}
}
.clients__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) { 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px
  }
  @media screen and (min-width: 1200px) { 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px
  }
}
.clients__logo {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  @extend %align-list;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid $accent-Color;
    fill: $accent-Color;
  }
  @media screen and (min-width: 768px) { 
    width: 226px;
}
@media screen and (min-width: 768px) { 
  width: 170px;
}
}
.clients__item{
  width: calc(100% / 2 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  
  @media screen and (min-width: 768px) { 
    margin-right: 30px;
    width: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) { 
    margin-bottom: 0px;
    margin-right: 30px;
    width: calc(100% / 6 - 30px);
  }
}
.clients__icon {
  fill: #afb1b8;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $accent-Color;
  }
}
