.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__list {
  position: relative;
  display: flex;
  margin-right: -30px;
}
.clients__logo {
  margin-right: 30px;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  @extend %align-list;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid $accent-Color;
    fill: $accent-Color;
  }
}
.clients__icon {
  fill: #afb1b8;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $accent-Color;
  }
}
