// Наши приимущества
.feature-list .title {
    color: var(--title-text-color);
    @include font(14px, 700, null, 1.14);
    text-transform: uppercase;
  }
  .feature-list .text {
    @include font(14px, null, null, 1.71);
  }
  .section-item-01 {
    padding: 94px 0px;
    text-align: center;
    margin-right: -30px;
  }
  .section-item-01 .feature-list {
    position: relative;
    display: flex;
  }
  .section-item-01 .list-item {
    margin-right: 30px;
    text-align: start;
    width: 270px;
  }
  .section-item-01 .list-item h3 {
    margin-bottom: 10px;
  }
  
  .feature-icons {
    @extend %align-list;
    padding: 0px;
    margin: 0px;
    margin-bottom: 30px;
    height: 120px;
    justify-content: center;
   
    background-color: #f5f4fa;
    border-radius: 4px;
  }