// Наши приимущества
.feature {
  padding: 94px 0px;
  text-align: center;
  margin-right: -30px;
}
.feature__list {
  position: relative;
  display: flex;
}
.feature-list__item {
  margin-right: 30px;
  text-align: start;
  width: 270px;
}
.feature-list__icons {
  @extend %align-list;
  padding: 0px;
  margin: 0px;
  margin-bottom: 30px;
  height: 120px;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.feature-list__title {
  color: $title-Color;
  @include font(14px, 700, null, 1.14);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.feature-list__text {
  @include font(14px, null, null, 1.71);
}
