.footer {
  background: #2f303a;
  padding: 60px 0px;
}
.footer__general {
  display: flex;
  align-items: baseline;
}
.footer__logo {
  margin-bottom: 20px;
}
// Contacts
.footer__contact-list {
  position: relative;
  display: block;
  margin-right: 70px;
}
.contact-list__items {
  margin-bottom: 9px;
}
.contact-list__link {
  color: rgba(255, 255, 255, 0.6);
  @include font(14px, null, null, 1.71);
  text-decoration: none;
  font-style: normal;
  &:hover,
  &:focus {
    color: $accent-Color;
  }
}
.contact-list__adress {
  color: $white-color;
  @include font(14px, null, null, 1.71);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-Color;
  }
}
// Social media
.social-media__text {
  @include font(14px, 700, 0.03, 1.14);
  margin-bottom: 20px;
  color: $white-color;
}
.social-media__icons {
  @extend %align-list;
  padding: 0px;
  margin: 0px;
  justify-content: center;
}
.social-media__link {
  @extend %align-list;
  padding: 0px;
  margin-right: 10px;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-Color;
    color: $white-color;
    fill: $accent-Color;
    border-radius: 50%;
  }
}

.social-media__icon {
  display: flex;
  fill: $white-color;
  color: rgba(255, 255, 255, 0.1);
  transition-property: background-color, color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-Color;
    fill: $white-color;
  }
}
// Email-section
.footer__emai-section {
  margin-left: 93px;
}
.emai-section__text {
  @include font(14px, 700, 0.03, 1.14);
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 20px;
}
.emai-section__invite {
  position: relative;
  display: flex;
}
.emai-section__field {
  @include font(14px, null, 0.03, 1.14);
  color: $white-color;
  position: relative;
  display: flex;
  &::placeholder {
    @include font(16px, null, 0.03, 1.25);
    @extend %align-list;
    color: rgba(255, 255, 255, 0.6);
  }
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
}
.emai-section__email-button {
  @extend %button;
  height: 50px;
  @include font(16px, 700, 0.06, 1.87);
  @extend %align-list;
  text-align: center;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  padding: 0px 28px;
  position: relative;
  display: flex;
  svg {
    margin-left: 10px;
  }
}
