.speciality {
  padding-bottom: 94px;
  display: none;
  @media screen and (min-width: 1200px) {
  display: block;
  }
}
.speciality__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
 
}
.speciality__item {
  margin-right: 30px;
  flex-basis: calc(100% / 3 - 30px);
  position: relative;
  margin-right: 30px;
}

.speciality__img-wrap {
  position: relative;
  overflow: hidden;
}
.speciality__text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: $white-color;
  @include font(14px, 700, 0.03, 1.14);
  text-align: center;
  text-transform: uppercase;
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}
