/* Портфолио */
.portfolio {
  padding: 60px 0px;
  text-align: center;
  @media screen and (min-width: 480px) { 
   margin-right: -30px;
 }
 @media screen and (min-width: 768px) { 
   margin-right: -30px;
 }
 @media screen and (min-width: 1200px) { 
   margin-right: -30px;
   padding: 94px 0px;
 
 }
}
.portfolio__button {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-right: -8px;
  justify-content: center;
  margin-bottom: 15px; 
  @media screen and (min-width: 768px) { 
    margin-bottom: 30px;}
  @media screen and (min-width: 1200px) { 
    margin-bottom: 50px;}
  
}
.portfolio__project {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  @media screen and (min-width: 768px) { 
    margin-right: -30px;
  }
  @media screen and (min-width: 1200px) { 
    margin-right: -30px;
  }
}
.project__item {
  position: relative;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 1);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  @media screen and (min-width: 480px){ 
    width: calc(100% / 1 - 30px);
    
  }
  @media screen and (min-width: 768px) { 
    margin-right: 30px;
    width: calc(100% / 2 - 30px);
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) { 
    margin-right: 30px;
    width: calc(100% / 3 - 30px);
    flex-basis: calc((100% - 90px) / 3);
  }
}
.project__link {
  text-decoration: none;
}
.project__img-wrap {
  position: relative;
  overflow: hidden;
}
.project__img {
  margin-bottom: 0;
  display: block;
}
.project__text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: $white-color;
  @include font(18px, null, 0.03, 1.56);
  padding: 24px 63px;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition-property: transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .project__item:hover & {
    transform: rotateY(0);
  }
}
.project__card-description {
  margin-top: 0;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.card-description__title {
  color: $title-Color;
  @include font(18px, 700, 0.06, 2);
  margin-bottom: 4px;
}
.card-description__text {
  @include font(16px, null, null, 1.87);
  color: #757575;
}
