.team {
  padding: 94px 0px;
  margin-left: 0;
  margin-right: 0;
  background: #f5f4fa;
}
.team__list {
  position: relative;
  display: flex;
}
.team__member {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: $white-color;
}
.team__position {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__title {
  color: $title-Color;
  @include font(16px, 500, null, 1.19);
  text-align: center;
  margin-bottom: 10px;
}
.team__text {
  @include font(16px, null, null, 1.19);
  text-align: center;
  margin-bottom: 16px;
}

.team__social-icons {
  @extend %align-list;
  padding: 0px;
  margin: 0px;
  justify-content: center;
}

.team__social-link:hover,
.team__social-link:focus {
  background-color: $accent-Color;
  color: $white-color;
  fill: $accent-Color;
}
.team__social-icon {
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-Color;
    fill: $white-color;
  }
}
