.contact .link {
    color: var(--primary-text-color);
    font-weight: 500;
    @include font(14px, 500, 0.02, 1.14);
    text-decoration: none;
  }
.header-container .contact-list {
    position: relative;
    @extend %align-list;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
  }
  .header-container .contact-list ul {
    position: relative;
    display: flex;
  }
  .header-container .contact-list ul li {
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .contact-list .link {
    display: flex;
  }
  .icon-mail {
    margin-right: 10px;
    fill: var(--icon-color);
  }
  
  .icon-phone {
    margin-right: 10px;
    fill: var(--icon-color);
  }
  
  .mail-contact {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
    }
    &:hover .icon-mail,
    &:focus .icon-mail {
    fill: var(--accent-color);
  }}
  
  .mail-contact .icon-mail {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
    
  .phone-contact {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
    color: var(--accent-color);}
    &:hover .icon-phone,
    &:focus .icon-phone {
    fill: var(--accent-color);
  }
  }

  .phone-contact .icon-phone {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  }