.logo__link {
    color: $accent-Color;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    align-items: center;
    margin-right: 93px;
  }
  .logo__link--black {
    color: $title-Color;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  
  .footer-contacts__logo {
    margin-bottom: 20px;
  }

  .logo__link--white {
    color: $white-color;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
  }