.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  .modal {
    transform: translate(-50%, -50%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.backdrop__modal {
  width: 528px;
  min-height: 581px;
  background-color: $white-color;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  color: #000;
  width: 30px;
  height: 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid $accent-Color;
    fill: $accent-Color;
  }
}
.modal__icon-vector {
  color: #000;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 11px;
  height: 11px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  text-align: center;
  @include font(20px, 700, 0.03, 1.15);
  color: $title-Color;
  margin-bottom: 12px;
}
.modal__field {
  margin-bottom: 10px;
}
.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: $accent-Color;
  }
  .modal__input:hover + &,
  .modal__input:focus + & {
    fill: $accent-Color;
  }
}
.modal__input-wrapper {
  position: relative;
}
.modal__input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 30px;
  padding-right: 10px;
  font-size: 14px;
  color: $title-Color;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    box-sizing: border-box;
    border-radius: 4px;
  }
  &::placeholder {
    @include font(12px, null, 0.01, 1.17);
    color: rgba(117, 117, 117, 0.5);
    padding-bottom: 4px;
  }
}
.modal__text {
  width: 100%;
  height: 100px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 10px;
  resize: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    box-sizing: border-box;
    border-radius: 4px;
  }
  &::placeholder {
    @include font(12px, null, 0.01, 1.17);
    color: rgba(117, 117, 117, 0.5);
  }
}
.modal__label {
  display: block;
  @include font(12px, null, 0.01, 1.17);
  color: $primary-Color;
  margin-top: 10px;
  padding-bottom: 4px;
}
.modal__check-text {
  @include font(14px, null, 0.03, 1.71);
  color: $primary-Color;
  display: flex;
  &::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid $title-Color;
    border-radius: 2px;
    margin-right: 7px;
  }
  .modal__check:checked + &::before {
    background-color: $accent-Color;
    background-image: url(../images/icon-check-fill.svg);
    border: none;
    background-repeat: no-repeat;
  }
}
.modal__check-link {
  @include font(14px, null, 0.03, 1.71);
  text-decoration-line: underline;
  color: #2196f3;
  margin-left: 4px;
}
.modal__submit {
  align-items: center;
  text-align: center;
}
