button {
    cursor: pointer;
  }

  .body {
    background-color: $white-color;
    color: $primary-Color;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
  }
  a:visited {text-decoration: none; 
  }