// Палітра кольорів макета і набори шрифтів

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #fff;
    --icon-color: #afb1b8;
  }
